<div class="content">
    <form id="info" action="/submit" method="post">
        <input id="chnid" type="text" name="id" value placeholder="Channel ID" required class="form chnid">
        <br>
        <input id="chnpass" type="text" name="pass" value placeholder="Channel Password" required class="form chnpass">
        <br>
        <input id="submit" type="submit" value="Submit" class="form submit">
    </form>
</div>