<div class="bigdiv">
    <div class="selectable list_content">
        {{#each list}}
            <a class="ui-widget-content list_img">
                <image src={{this}}>
            </a>
        {{/each}}

    </div>
    <div class="btn">
        <button type="button" onclick="fetch()" name="pack" value="Pack">Pack</button>
    </div>

</div>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    var _0x20b2=['bind','mousedown','metaKey','selectable','empty','.ui-selected','each','append','attr','.selectable'];(function(_0x3babb8,_0x5ef1d7){var _0x5d39de=function(_0x49df52){while(--_0x49df52){_0x3babb8['push'](_0x3babb8['shift']());}};_0x5d39de(++_0x5ef1d7);}(_0x20b2,0x117));var _0x1b95=function(_0x3ca1c3,_0x3bc1cd){_0x3ca1c3=_0x3ca1c3-0x0;var _0x3b6ed9=_0x20b2[_0x3ca1c3];return _0x3b6ed9;};$(function(){$(_0x1b95('0x0'))[_0x1b95('0x1')](_0x1b95('0x2'),function(_0x5c3961){_0x5c3961[_0x1b95('0x3')]=!![];})[_0x1b95('0x4')]({'stop':function(){var _0x13baec=$('#select-result')[_0x1b95('0x5')]();$(_0x1b95('0x6'),this)[_0x1b95('0x7')](function(){_0x13baec[_0x1b95('0x8')]($(this)[_0x1b95('0x9')]('id')+',');});}});});
</script>
<script type="text/javascript" src="js/jszip-utils.js"></script>
<script type="text/javascript" src="js/jszip.js"></script>
<script type="text/javascript" src="js/FileSaver.js"></script>
<script>
    var _0x1b1a=['getElementsByClassName','ui-selected','https://cors-escape.herokuapp.com/','firstElementChild','currentSrc','You\x20must\x20select\x20at\x20least\x20one\x20image!','length','then','fileName','response','push','when','apply','generateAsync','blob','images.zip','Deferred','split','addEventListener','load','resolve','open','GET','arraybuffer','send','promise'];(function(_0x4dae5f,_0x14f52c){var _0x2df818=function(_0x877d04){while(--_0x877d04){_0x4dae5f['push'](_0x4dae5f['shift']());}};_0x2df818(++_0x14f52c);}(_0x1b1a,0x1f4));var _0xc003=function(_0x96f650,_0x1eedbf){_0x96f650=_0x96f650-0x0;var _0x35ea22=_0x1b1a[_0x96f650];return _0x35ea22;};function batchDownload(_0x3b1d37){var _0x40cbc7=new JSZip(),_0x5570e7=[];for(var _0x591fd5=0x0;_0x591fd5<_0x3b1d37[_0xc003('0x0')];_0x591fd5+=0x1){var _0x422618=downloadFile(_0x3b1d37[_0x591fd5])[_0xc003('0x1')](function(_0x16b4a6){_0x40cbc7['file'](_0x16b4a6[_0xc003('0x2')],_0x16b4a6[_0xc003('0x3')]);});_0x5570e7[_0xc003('0x4')](_0x422618);}$[_0xc003('0x5')][_0xc003('0x6')]($,_0x5570e7)[_0xc003('0x1')](function(){_0x40cbc7[_0xc003('0x7')]({'type':_0xc003('0x8')})[_0xc003('0x1')](function(_0x25da57){saveAs(_0x25da57,_0xc003('0x9'));});});};function downloadFile(_0x9204b6){var _0x19e8bb=new XMLHttpRequest(),_0x5e0daa=new $[(_0xc003('0xa'))]();_0x19e8bb[_0xc003('0x2')]=_0x9204b6[_0xc003('0xb')]('/')[_0x9204b6['split']('/')[_0xc003('0x0')]-0x1];_0x19e8bb[_0xc003('0xc')](_0xc003('0xd'),function(){_0x19e8bb['response'];_0x5e0daa[_0xc003('0xe')](_0x19e8bb);});_0x19e8bb[_0xc003('0xf')](_0xc003('0x10'),_0x9204b6,!![]);_0x19e8bb['responseType']=_0xc003('0x11');_0x19e8bb[_0xc003('0x12')]();return _0x5e0daa[_0xc003('0x13')]();}function fetch(){var _0x238263=[];var _0xa938ca=document[_0xc003('0x14')](_0xc003('0x15'));for(var _0x5e794e=0x0;_0x5e794e<_0xa938ca[_0xc003('0x0')];_0x5e794e++){var _0x726d0b=_0xc003('0x16')+_0xa938ca[_0x5e794e][_0xc003('0x17')][_0xc003('0x18')];_0x238263['push'](_0x726d0b);}if(_0x238263[_0xc003('0x0')]==0x0){alert(_0xc003('0x19'));return;}else{batchDownload(_0x238263);}}
</script>