<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    </head>
    <body>
        {{{body}}}
    </body>
</html>